<table>
	<tr>
		<th>Type:</th>
		<td><% if @vessel.type %><%=@vessel.type.description%><% else %>Unknown<% end %></td>
	</tr>
	<tr>
		<th>MMSI:</th>
		<td><%=@vessel.mmsi%></td>
	</tr>
	<tr>
		<th>Position:</th>
		<td><% if @vessel.type %><%=@vessel.position%><% else %>Unknown<% end %></td>
	</tr>
	<tr>
		<th>Heading:</th>
		<td><% if @vessel.type %><%=@vessel.heading%><% else %>Unknown<% end %></td>
	</tr>
	<tr>
		<th>Speed:</th>
		<td><% if @vessel.type %><%=@vessel.speed%><% else %>Unknown<% end %></td>
	</tr>
</table>
