<table>
	<tr>
		<th>Type:</th>
		<td><%=@vessel.type.description%></td>
	</tr>
	<tr>
		<th>MMSI:</th>
		<td><%=@vessel.mmsi%></td>
	</tr>
	<tr>
		<th>Position:</th>
		<td><%=@vessel.position%></td>
	</tr>
	<tr>
		<th>Heading:</th>
		<td><%=@vessel.heading%></td>
	</tr>
	<tr>
		<th>Speed:</th>
		<td><%=@vessel.speed%></td>
	</tr>
</table>
