<table>
	<tr>
		<th>Type:</th>
		<td><% if @vessel.type %><%=@vessel.type.description%><% else %>Unknown<% end %></td>
	</tr>
	<tr>
		<th>MMSI:</th>
		<td><%=@vessel.mmsi%></td>
	</tr>
  <tr>
    <th>Class:</th>
    <td><% if @vessel.vessel_class == Domain::Vessel::CLASS_A %>A<% else %>B<% end %></td>
  </tr>
	<tr>
		<th>Position:</th>
		<td><% if @vessel.position %><%=@vessel.position%><% else %>Unknown<% end %></td>
	</tr>
	<% if @vessel.navigation_status %>
  <tr>
    <th>Navigation status:</th>
    <td><%=@vessel.navigation_status.description%></td>
  </tr>
  <% end %>
	<tr>
		<th>Heading:</th>
		<td><% if @vessel.heading %><%=@vessel.heading%><% else %>Unknown<% end %></td>
	</tr>
	<tr>
		<th>Speed:</th>
		<td><% if @vessel.speed %><%=@vessel.speed%><% else %>Unknown<% end %></td>
	</tr>
</table>
